{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div style="height:200px"></div>
    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
            <!-- START THE FEATURETTES -->
    {% for eachcontent in screenshots %}
      <div class="featurette">
        <img class="featurette-image pull-right" src="{{eachcontent.screenshot_image.url}}">
        <h2 class="featurette-heading">{{eachcontent.screenshot_header}}</h2>
        <p class="lead">{{eachcontent.screenshot_description}}</p>
      </div>
  {% endfor %}
      <!-- /END THE FEATURETTES -->

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% endblock %}