{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div style="height:200px"></div>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          {% for eachcontent in home_content %}
        <div class="span4">
          <img class="img-circle" src="{{eachcontent.mid_content_image}}">
          <h2>{{eachcontent.mid_content_header}}</h2>
          <p>{{eachcontent.mid_content_description}}</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
    {% endfor %}
      </div><!-- /.row -->
  </div>

{% endblock %}