{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div style="height:200px"></div>
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
          {% for eachteam in teams %}
        <div class="span4">
          <img class="img-circle" src="{{eachteam.image.url}}">
          <h2>{{eachteam.name}}</h2>
          <p>Institute: {{eachteam.Institute}}<br>
          Roll No: {{eachteam.roll_no}}<br>
          Email: {{eachteam.email}}<br>
          Website: <a href="{{eachteam.website}}">{{eachteam.website}}</a>
          </p>
        </div><!-- /.span4 -->
    {% endfor %}
      </div><!-- /.row -->
  </div>
{% endblock %}

{% block scripts %}
<script>
  $("#team_name").addClass("active");
</script>
{% endblock %}