{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div style="height:200px"></div>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      {% for eachtool in tpols %}
        <div class="row">
          <div class="span4">
            <img class="img-circle" src="{{eachtool.tool_image.url}}">
            <h2>{{tool_header}}</h2>
            <p>{{tool_description}}</p>
          </div><!-- /.span4 -->
      {% endfor %}
{% endblock %}